:root {
  --bs-primary: #2B2B2B;
}
h1, h2, h3, h4, h5 {
  color: #1a237e;
}
#auth-container button {
  min-width: 140px;
}
.list-group li {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.list-group li:hover {
  background-color: #bbdefb;
}
#estatsContainer button {
  margin-left: 0.4em;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.blink {
  animation: blink 1s infinite;
}
#contador {
  font-size: 1.8rem !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  padding: 2px 6px;
  background-color: #343a40; /* fondo oscuro */
  color: white;
  border-radius: 6px;
  min-width: 80px;
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0 auto;
}

#partidosPorFecha .list-group-item {
  font-weight: 600;
}



#marcador { font-weight: bold; font-size: 3em; }
#tiempo-faltas { display: flex; justify-content: center; gap: 50px; margin: 20px 0; font-size: 1.5em; }
#faltas { display: flex; gap: 30px; }
.faltas-equipo { display: flex; align-items: center; gap: 10px; }
.logo {max-height: 50px;}

.body {
  background-color: #F7F7F7 !important;
}

.btn-primary, 
.bg-primary, 
.text-primary {
  background-color: #2B2B2B !important;
  border-color: #2B2B2B !important;
  color: #fff !important;
}
.logo {
  display: inline-block;       /* Para que tenga tamaño */
  width: 215px;                /* Ajusta el tamaño deseado */
  height: 50px;                /* Ajusta el tamaño deseado */
  background-image: url('../img/logo-t.png');  /* Ruta a tu imagen */
  background-size: contain;    /* Para que la imagen se escale */
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;        /* Oculta texto si hay */
}

.stat-btn {
  width: 34px !important;
  height: 34px  !important;
  font-size: 1rem;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#breadcrumb-container a {
  color: var(--bs-primary) !important;
}


.btn{


  min-width: 40px ;
  min-height: 40px;
  font-size: large;
}
